{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tours & Ténèbres</h1>
    <ul>
        {% for name, item in directoryTree %}
            <li>
                {% if item.type == 'directory' %}
                    <strong>{{ name }}</strong>
                    <ul>
                        {{ _self.render_directory(item.files) }}
                    </ul>
                {% else %}
                    <a href="{{ path('markdown_render', {'filePath': item.path}) }}">{{ item.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% macro render_directory(directory) %}
    {% for name, item in directory %}
        <li>
            {% if item.type == 'directory' %}
                <strong>{{ name }}</strong>
                <ul>
                    {{ _self.render_directory(item.files) }}
                </ul>
            {% else %}
                <a href="{{ path('markdown_render', {'filePath': item.path}) }}">{{ item.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}